VCF_FILE=data/cohort.filtered.vcf.gz
PHENO_TSV=metadata/phenotype.tsv
OUTDIR=outputs/genotype_kinship_prep
PREFIX=cohort
THREADS=16
EMMAX_BIN=emmax-intel64
KINSHIP_BIN=emmax-kin-intel64
PCA_COMPONENTS=5
